<div class="container">
	<div class="col-xs-12">
		<div class="row">
			<h1><%= @movie["Title"] %></h1>
			<img src="<%= @movie["Poster"] == "N/A" ? "No movie poster" : @movie["Poster"] %>" /> <br>
		</div>
		
		<div class="row">
			
			<%= @movie["Plot"] == "N/A" ? "" : "<b>Plot: </b>#{@movie["Plot"]}" %> <br>
			<%= @movie["Year"] == "N/A" ? "" : "<b>Released: </b>#{@movie["Year"]}" %> <br>
			<%= @movie["Rated"] == "N/A" ? "" : "<b>Rated: </b>#{@movie["Rated"]}" %> <br>
			<%= @movie["Runtime"] == "N/A" ? "" : "<b>Runtime: </b>#{@movie["Runtime"]}" %> <br>
			<%= @movie["Genre"] == "N/A" ? "" : "<b>Genre: </b>#{@movie["Genre"]}" %> <br>
			<%= @movie["Director"] == "N/A" ? "" : "<b>Director: </b>#{@movie["Director"]}" %> <br>
			<%= @movie["Actors"] == "N/A" ? "" : "<b>Actors: </b>#{@movie["Actors"]}" %> <br>
			<br>
			<button class ="new_search">
				<a href="/">New Search</a>
			</button>
		</div>
	</div>
</div>
<br>
